<div class="wiktionary-entry {{#if form_of}}is-redirect{{/if}}">
  <div class="entry-body">
    <span class="entry-line entry-line-head">
      {{~#if form_of~}}
      <span class="lemma {{form_of.subclass}}">{{headword}}</span>
      <span class="inflection-label">{{form_of.label}}</span>
      <span class="inline-sep">of:</span>
      <span class="redirect-arrow">→</span>
      <span class="lemma lemma-target">{{form_of.lemma}}</span>
      {{~else~}}
      <span class="lemma">{{headword}}</span>
      {{~/if~}}

      {{~#if pronunciation.romanization~}}
      <span class="romanization">/{{pronunciation.romanization}}/</span>
      {{~/if~}}

      <span class="pos">{{#if pos}}{{pos}}{{else}}{{part_of_speech}}{{/if}}</span>

      {{~#if headword_morphology.principal_parts~}}
      <span class="principal-parts">
        {{#each headword_morphology.principal_parts}}
        <span class="pp-item">{{this}}</span>{{#unless @last}}<span class="inline-sep">–</span>{{/unless}}
        {{/each}}
      </span>
      {{~/if~}}
    </span>

    {{~#if etymology.chain~}}
    <span class="entry-line">
      {{!-- <span class="line-label">ETYM.</span> --}}
      (<span class="etym-inline">
        {{~#each etymology.chain~}}
        <span class="lang-tag">{{langLabel this}}</span> {{term}}{{#if gloss}} ({{gloss}}){{/if}}{{#unless @last}} <span class="etym-arrow">{{etymSymbol relation}}</span> {{/unless}}
        {{~/each~}}
    )</span>
    </span>
    {{~/if~}}

    {{~#if senses~}}
    <span class="entry-line">
      <span class="sense-inline">
        {{#each senses}}
        <span class="sense-item">
          <span class="sense-num">{{addOne @index}}</span>
          {{#if labels}}<span class="tag">{{join labels ", "}}</span>{{/if}}
          {{#if gloss}}<span class="gloss">{{gloss}}</span>{{/if}}
          {{#if definition}}<span class="definition">{{definition}}</span>{{/if}}
        </span>
        {{/each}}
      </span>
    </span>
    {{~/if~}}

    {{~#if (or relations derived_terms.items)~}}
    <span class="entry-line">
      {{#if relations.antonyms}}
      <span class="line-label">ANT.</span>
      <span class="relation-group">
        {{#each relations.antonyms}}
        <span>{{term}}</span>{{#unless @last}}<span class="inline-sep">,</span>{{/unless}}
        {{/each}}
      </span>
      {{/if}}

      {{#if relations.synonyms}}
      <span class="line-label">SYN.</span>
      <span class="relation-group">
        {{#each relations.synonyms}}
        <span>{{term}}</span>{{#unless @last}}<span class="inline-sep">,</span>{{/unless}}
        {{/each}}
      </span>
      {{/if}}

      {{#if derived_terms.items}}
      <span class="line-label">DER.</span>
      <span class="relation-group">
        {{#each derived_terms.items}}
        <span>{{term}}</span>{{#unless @last}}<span class="inline-sep">,</span>{{/unless}}
        {{/each}}
      </span>
      {{/if}}
    </span>
    {{~/if~}}

    {{~#if usage_notes~}}
    <span class="entry-line">
      <span class="line-label">NOTE.</span>
      <span class="usage-inline">
        {{#each usage_notes}}
        <span>{{this}}</span>{{#unless @last}}<span class="inline-sep">;</span>{{/unless}}
        {{/each}}
      </span>
    </span>
    {{~/if~}}

    {{~#if wikidata~}}
    <span class="entry-line entry-line-meta">
      <span class="metadata-pill">Wikidata {{wikidata.qid}}</span>
      {{#each wikidata.instance_of}}
      <span class="metadata-pill">Instance: {{this}}</span>
      {{/each}}
      {{#each wikidata.subclass_of}}
      <span class="metadata-pill">Subclass: {{this}}</span>
      {{/each}}
    </span>
    {{~/if~}}
  </div>
</div>
